:root {
    --accent: rgb(75, 0, 130);
    --accentDarker: rgb(50, 0, 85);
    --accentDarkest: rgb(33, 0, 57);
}

/* || GENERAL STYLES */

body {
    font-family: monospace;
    background-color: whitesmoke;
    color: var(--accentDarkest);
    font-size: 22px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--accent);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:any-link {
    color: var(--accent);
}

main {
    margin: 20px;
    max-width: 750px;
}

/* || FORMS */

form textarea {
    display: block;
    font-family: monospace;
    font-size: 26px;
}

#files-container {
    margin-top: 20px;
}

#files-container input, #files-container button {
    font-size: 20px;
}

input[type=submit] {
    margin-top: 10px;
    padding: 10px 16px;
    border: 1px solid gray;
    border-radius: 6px;
    color: whitesmoke;
    background-color: var(--accent);
    font-family: inherit;
    font-size: 22px;
}

input[type=submit]:hover {
    background-color: var(--accentDarker);
}

input[type=submit]:active {
    background-color: var(--accentDarkest);
}

#add-file-button {
    margin-top: 20px;
    font-size: 1em;
}

/* || HEADER / TITLE / NAV */

header {
    display: flex;
    align-items: center;
    background-color: lightgray;
    padding: 5px 10px;
    border-bottom: 1px solid gray;
}

#title {
    display: inline-block;
    font-size: 24px;
    text-align: center;
    width: 100%;
    color: var(--accent);
}

#subtitle {
    margin: 0px;
    font-size: 18px;
}

#nav-items {
    display: inline-block;
    margin-left: 35px;
    font-size: 20px;
}
